################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ModuleStructuredApi/obj/Debug/net6.0
/ModuleStructuredApi/obj
/ModuleStructuredApi/bin/Debug/net6.0
